---
layout: default
---

{% include hero/simple.html headline="Piráti Praha 21" description="Makáme v opozici. Držíme kurz!" bgImg="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/%C3%9Ajezd_nad_Lesy_z_leteck%C3%A9ho_pohledu.jpg/1600px-%C3%9Ajezd_nad_Lesy_z_leteck%C3%A9ho_pohledu.jpg" heroSpacing="py-16 lg:pt-32" %}

<div class="container container--default pt-4 lg:pb-24">
  {% include homepage/news.html title="Co se děje v Praze 21:" %}
  {% include homepage/calendar.html %}
  {% include homepage/social.html %}
</div>
